h1 {
    color: teal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p { 
    color: fuchsia;
    font-family: fantasy;

}

a { 
    color: yellowgreen;
    font-family: cursive;
}

